header {
  background: #c8c131;
}


@media screen and (min-width: 320px)
and (max-width : 635px) {


img.biopic {
display:none;
}

#name {
  margin-bottom: 0;
  padding-left: 10px;
  color:olive;
}

#headerFlexNav {
line-height: 35px;
float: left;
}

#headerFlexNav > span {
 padding-left: 10px;
}

#header {
background-color: olive;
padding-top: 80px;
padding-left: 10px;
padding-bottom: 10px
}

#topContacts {
padding-top: 10px;
display: -webkit-flex;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: left;
}

.white-text {
font-weight: normal;
color: #FFFFFF;
margin-left: 20px;
margin-right: 20px;
}

.orange-text {
color: #c8c131;
padding:0px;
}

.nav-collapse a:active, .nav-collapse .active a {
background: olive;
}

ul li{
list-style-type: none;
}

#skills > li > span{
  margin-left:0px;
}

.welcome-message {
  font-style: normal;
  font-size: 48px;
  color: #F3F3F3;
  line-height: 50px;
  display: inline-block;
  margin-top: 20px;
}

#mapDiv {
display: none;
}

#main > header > nav > ul > li:nth-child(5) > a{
display: none;
}

h2{
font-weight: light;
font-size: 24px;
color: #999999;
line-height: 29px;
padding: 30px 10px 10px 10px;

}

p {
  width:100%;
}

.work-entry{
  margin: 20px 10px 5px;
}

.project-entry{
  margin: 5px 10px 5px;
}

#workExperience > div > p > br:nth-child(1){
  display:none;
}

a {
color: #1199C3;
text-decoration: none;
display: block;
}

.date-text {
font-style: italic;
font-size: 14px;
color: #999999;
line-height: 16px;
}

.location-text{
font-style: italic;
font-size: 14px;
color: #999999;
line-height: 16px;
}

#workExperience > div:nth-child(2){
   margin-top: 5px;
}

#skillsH3 {
color: #c8c131;
font-style: normal;
font-weight: 400;
margin-top: 20px;
}

#projects > div > p > br {
  display: none;
}

.gray {
background-color: #F3F3F3;
padding-bottom: 10px;
clear: both;
}

header span {
font-weight: normal;
}

.nav-collapse a {
  padding-left: 10px;
}

#education > div {
  padding-left: 10px;
}

#letsConnect > h2 {
color: olive;
padding-top: 10px;
}
.orange {
background-color: #c8c131;
}

#education > h3{
  padding-left: 10px;
}

#letsConnect {
background-color: olive;
}

#footerContacts {
  padding-top: 20px;
  padding-left: 10px;
}

button{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#skills {
  margin-bottom: 10px;
}

}



@media screen and (min-width: 635px)
and (max-width :943px) {

.biopic {
float: left;
padding: 10px 30px 10px 10px;
width: 200px;
}


#name {
  margin-bottom: 0;
  padding-left: 10px;
  color:olive;
  display: inline;
}

#headerFlexNav {
line-height: 35px;
float: left;
}

#headerFlexNav > span {
 padding-left: 10px;
}

#header {
background-color: olive;
padding-left: 10px;
padding-bottom: 10px
}

#header{
padding-top: 150px;
}

#topContacts {
padding-top: 10px;
display: -webkit-flex;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: left;
}

.white-text {
font-weight: normal;
color: #FFFFFF;
margin-left: 20px;
margin-right: 20px;
}

.orange-text {
color: #c8c131;
padding:0px;
}

.nav-collapse a:active, .nav-collapse .active a {
background: olive;
}

ul li{
list-style-type: none;
}

#skills > li > span{
  margin-left:0px;
}

.welcome-message {
  font-style: normal;
  font-size: 48px;
  color: #F3F3F3;
  line-height: 50px;
  display: inline-block;
  margin-top: 20px;
}

#mapDiv {
display: none;
}

#main > header > nav > ul > li:nth-child(5) > a{
display: none;
}

h2{
font-weight: light;
font-size: 24px;
color: #999999;
line-height: 29px;
padding: 30px 10px 10px 10px;

}

p {
  width:100%;
}

.work-entry{
  margin: 20px 10px 5px;
}

.project-entry{
  margin: 5px 10px 5px;
}

#workExperience > div > p > br:nth-child(1){
  display:none;
}

a {
color: #1199C3;
text-decoration: none;
display: block;
}

.date-text {
font-style: italic;
font-size: 14px;
color: #999999;
line-height: 16px;
}

.location-text{
font-style: italic;
font-size: 14px;
color: #999999;
line-height: 16px;
}

#workExperience > div:nth-child(2){
   margin-top: 5px;
}

#skillsH3 {
color: #c8c131;
font-style: normal;
font-weight: 400;
margin-top: 20px;
}

#projects > div > p > br {
  display: none;
}

.gray {
background-color: #F3F3F3;
padding-bottom: 10px;
clear: both;
}

header span {
font-weight: normal;
}

.nav-collapse a {
  padding-left: 10px;
}

#education > div {
  padding-left: 10px;
}

#letsConnect > h2 {
color: olive;
padding-top: 10px;
}
.orange {
background-color: #c8c131;
}

#education > h3{
  padding-left: 10px;
}

#letsConnect {
background-color: olive;
}

#footerContacts {
  padding-top: 20px;
  padding-left: 10px;
}

button{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#skills {
  margin-bottom: 10px;
}


}



/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 943px) {
* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  color: #ff;
  line-height: 48px;
  display: inline;
  color: olive;
}

h2 {
  font-weight: light;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  width: 100%;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: normal;
  font-size: 48px;
  color: #F3F3F3;
  line-height: 50px;
  display: inline-block;
  margin-top: 20px;
}

#skillsH3 {
  color: #c8c131;
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
}

.orange {
  background-color: #c8c131;
}

.orange-text {
  color: #c8c131;
}

.white-text {
  font-weight: normal;
  color: #FFFFFF;
  margin-right: 20px;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: olive;
}

/* TODO: Replace with image later */
#header {
  background-color: olive;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding: 10px;
}

.center-content {
  padding-top: 5.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px 30px 10px 10px;
  width: 200px;
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}


#letsConnect {
    margin-top: 5%;
  }

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}
header .logo{
  padding-left: 5%;
}

header span {
  font-weight: normal;
}

.nav-collapse a {
padding: 2em 2em 1em;
}

.nav-collapse a:active, .nav-collapse .active a {
  background: olive;
}

ul#skills {
  padding: 0px;

}

#skills > li> span {
  padding: 0px;
}

#letsConnect > h2 {
  color: olive;
}

#footerContacts {
  padding-top: 1.5%;
}

}












